<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <footer class="footer-principal">
        <div class="contato">
            <h1>Contato</h1>
            <p>(11) 4093-9700</p>
            <p>Av. Luiz Merenda, 443 - Jd. Campanário - Diadema/SP - CEP: 09931-390</p>
            <p>Seg. a Sex. das 7:30 às 23:00</p>
            <div class="container-images">
                <img src="../img/logo-fatec-2.png" class="logo"/>
                <img src="../img/cps-logo.jpg" class="logo">
            </div>

        </div>
        <nav>
            <h1>Página Principal</h1>
            <a href="/#inicio">Inicio</a>
            <a href="/#sobre">Sobre</a>
            <a href="/#dsm">DSM</a>
            <a href="/#disciplina">Matriz Curricular</a>
        </nav>
        <nav>
            <h1>Disciplinas</h1>
            <a href="/algebra">Algebra Linear</a>
            <a href="/banco-dados">Banco de Dados Não Relacional</a>
            <a href="/dev-web">Desenvolvimento Web III</a>
            <a href="/gestao-agil">Gestão Ágil de Proejos de Software</a>
            <a href="/ihc">Interação Humano-Computador</a>
            <a href="/ingles">Inglês I</a>
            <a href="/tec-programacao">Técnicas de Programação II</a>
        </nav>
    </footer>
</body>
</html>